.container {
  margin: 20px;
}

.outlink {
  padding: 6px;
  background-color: #1799B8;
}

a.outlink:link    { color: #FFF; text-decoration: none; }
a.outlink:visited { color: #FFF; text-decoration: none; }
a.outlink:hover   { color: #FFF; text-decoration: underline; }
a.outlink:active  { color: #FFF; text-decoration: underline; }
