.container {
  margin: 20px;
}

.demolink {
  padding: 6px;
  background-color: #1799B8;
}

a.demolink:link    { color: #FFF; text-decoration: none; }
a.demolink:visited { color: #FFF; text-decoration: none; }
a.demolink:hover   { color: #FFF; text-decoration: underline; }
a.demolink:active  { color: #FFF; text-decoration: underline; }
